*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact-form {
    min-width: 100%;
    position:relative; 
}

.contact-form input, textarea, button{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:50;
    border-radius: 5px;
    font-size: 20px;
}

.contact-form textarea{
    height: 80px;
}