.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.projects,
.this-is-me {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  object-fit: contain;
  flex-direction: column;
}

.about {
  background-image: url('images/AboutScreenPic3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
  object-fit: contain;
  width: 100%;
  flex-direction: column;
}

.about-paragraph {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding-bottom: 10px;
  color: black;
  font-size: 24px;
}

.about-paragraph > h1 {
  text-decoration-line: underline;
  padding: 40px;
  text-align: center;
  padding-top: -100px;
  font-size: 40px;
}

.about-paragraph > h2 {
  padding: 40px;
  text-align: center;
  font-size: 40px;
}

.about-paragraph > p {
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
  padding-bottom: 20px;
}

.about-bullets {
  width: 90%;
/*  max-width: 1000px;*/
  display: flex;
  padding: 20px;
}

.about-bullets-wrapper {
  display: flex;
}

.about-bullets-items > h2 {
  padding: 25px;
  padding-bottom: 5px;
}

.about-bullets-items {
  display: flex;
  flex-flow: column;
  box-shadow: 0 6px 20px rgba(38, 111, 247, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
}

.projects {
  background-image: url('images/techPic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.this-is-me {
  background-image: url('images/squadPic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.this-is-me-paragraph {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  padding-bottom: 20px;
  color: black;
  font-size: 24px;
  padding-left: 100px;
  padding-right: 100px;
}

.this-is-me-paragraph > h1 {
  text-decoration-line: underline;
  padding: 40px;
  text-align: center;
  font-size: 40px;
}

.this-is-me-section {
  padding: 20px;
  box-shadow: 0 6px 20px rgba(38, 111, 247, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.this-is-me-section > h2 {
  text-decoration-line: underline;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
}

.this-is-me-section > p {
  padding-left: 50px;
  text-align: left;
  padding-top: 10px;
}

.this-is-me-bullets {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.this-is-me-bullets-wrapper {
  display: flex;
}

.this-is-me-bullets-items > p {
  padding: 10px;
  font-size: 18px;
}

.this-is-me-bullets-items > h4 {
  padding: 25px;
  padding-bottom: 5px;
}

.this-is-me-bullets-items {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(38, 111, 247, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
}
